@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<h3>@ViewData["Desenvolvedor"]</h3>

<address>
    <strong>Maiores informações: <strong><a href="https://rgssoftwarebr.com.br/"</strong>RGSSOFTWARE.COM.BR</strong>
</address>